<div class="order_summary">
  <h2>Rekapitulace objednávky</h2>
  <div class="content">
    <div class="item" *ngFor="let item of cartObj.records">
      <div class="price">{{item.priceAmount | number:formatNumber1}} Kč</div>
      <div class="name product">
        {{item.amount}}x
        <a [routerLink]="[item.redirect]">
          {{item.name}}
        </a>
      </div>
    </div>
    <div class="item">
      <div class="price">{{cartObj.priceAmount | number:formatNumber1}} Kč</div>
      <div class="name">
        Cena za zboží
      </div>
    </div>
    <div class="item">
      <div class="price" *ngIf="cartObj.shippingAndPayment != 0">{{cartObj.shippingVat | number:formatNumber1}} Kč</div>
      <div class="price" *ngIf="cartObj.shippingAndPayment == 0">zdarma</div>
      <div class="name">
        Doprava: {{cartObj.shippingName}}
      </div>
    </div>
    <div class="item">
      <div class="price">{{cartObj.paymentVat | number:formatNumber1}} Kč</div>
      <div class="name">
        Platba: {{cartObj.paymentName}}
      </div>
    </div>
    <div class="item">
      <div class="price"><strong>{{cartObj.priceAmountVat | number:formatNumber1}} Kč</strong></div>
      <div class="name">
        Celková cena vč. DPH
      </div>
    </div>
  </div>
</div>
